<div class="back-to-home rounded ">
  <a routerLink="/register">
  </a>
</div>


<section class="d-flex align-items-center">
  <div class="container">
    <div class="card-body">
      <h4>Rejestracja</h4>
      <form class="login-form mt-4" [formGroup]="registerForm" #form="ngForm" (ngSubmit)="addNewUser(form)">
        <div class="mb-3">
          <label class="form-label">Nazwa</label>
          <div class="form-icon position-relative">
            <input formControlName="name" type="text" placeholder="Nazwa">
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Email</label>
          <div class="form-icon position-relative">
            <input formControlName="email" type="text" placeholder="Email">
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Hasło</label>
          <div class="form-icon position-relative">
            <input formControlName="password" type="password" placeholder="Hasło" >
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Powtórz hasło</label>
          <div class="form-icon position-relative">
            <input formControlName="confirmPassword" type="password" placeholder="Powtórz hasło">
          </div>
        </div>
        <br>
        <input type = "checkbox" (change)="toogleEditable($event)"> Admin

        <br>
        <span name="information_to_user"  style="color: red">{{information_to_user}}</span><br>
        <button type="submit" class="btn btn-primary">Zarejestruj się</button>

      </form>
    </div>
  </div>
</section>

